/*颜色*/
.bg-primary {
	background-color: $uni-color-primary;
}

.bg-white {
	background-color: #FFFFFF;
}

/**文本**/
.text-primary {
	color: $uni-text-color;
}

.text-black {
	color: #333;
}

.text-grey {
	color: #999;
}

.text-white {
	color: #FFFFFF;
}