.grid {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	
	&.col-2 .item {
		width: 50%;
	}
	&.col-3 .item {
		width: 33.33%;
	}
	&.col-4 .item {
		width: 25%;
	}
	&.col-5 .item {
		width: 20%;
	}

	.item {
		padding: 20rpx 0;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text {
			font-size: 24rpx;
			display: block;
			color: #333;
			margin-top: 10rpx;
		}
	}

}