/* start--文本行数限制--start */
.line-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line-2 {
    -webkit-line-clamp: 2;
}

.line-3 {
    -webkit-line-clamp: 3;
}

.line-4 {
    -webkit-line-clamp: 4;
}

.line-5 {
    -webkit-line-clamp: 5;
}

.line-2, .line-3, .line-4, .line-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; // 弹性伸缩盒
    -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}


.text-xs {
	font-size: 20rpx;
}

.text-sm {
	font-size: 24rpx;
}

.text-md {
	font-size: 28rpx;
}

.text-lg {
	font-size: 32rpx;
}

.text-xl {
	font-size: 36rpx;
}

.text-bold {
	font-weight: 700;
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 9 to 20 {
	.text-#{$i} {
		font-size: $i + px;
	}
}

// 定义字体(rpx)单位，大于或等于20的都为rpx单位字体
@for $i from 20 through 40 {
	.text-#{$i} {
		font-size: $i + rpx;
	}
}
